body{
    background-color:lightgray;
    
}

.titulo{
    color: blue;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-indent: 10px;
    text-align: justify;
    margin-bottom: 50px;
}

.hobbie{
    width: 250px;
    height: auto;
    border-radius: 30px;
    margin-left: 10px;
    max-width: 100%;
}

li{
    margin-bottom: 10px;
    margin-left: 30px;
    list-style-type:decimal-leading-zero;
    font-weight: bold ;
    text-align: justify;
}

.tabela{
    border: 3px solid;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.paises{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: auto;
    border-radius: 30px;
}

h3{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    color:rgb(82, 78, 61);
}

.site{
    text-decoration: none;
    margin-left: 50px;
}

.site:hover {
    color: red;
    text-decoration: underline;
}

#botao{
    color: white;
    background-color: #007bff;
    border-radius: 8px;
    margin-top: -30px;
    position: absolute;
    left: 40%;
    font-size: 15px;
    padding: 15px;
    gap: 10px;
}

#mensagem{
    display: none;
    color: rgb(241, 12, 12);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 35px;
    background-color: black;
    border-radius: 8px;
}

#imagemAssustadora{
    display: none;
    width: 750px;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    top: 47%;
    left: 27%;
}
